.container{
	display: flex;
	border:8px dotted blue;
}
.Box1{
	background-color: red;
}
.Box2{
	background-color: green;
}
.Box3{
	background-color: yellow;

}
.Box4{
	background-color: blue;
}
.Box5{
	background-color: violet;
}
.Box{
	font-size: 25px;
	padding: 20px;
}